<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="menuContent">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 21px;"></div>
      <div class="profile-image">
        <img src="img/7sD3a8frTTyz2GbXFQms_Semttulo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h4 id="menu-heading1" style="color:#FFFFFF;font-weight:300;text-align:center;">Gerenciador de atendimento clínico</h4>
      <div class="spacer" style="width: 268px; height: 21px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item1" ui-sref-active="active" ui-sref="app.attendanceList" menu-close="">
          <i class="icon ion-checkmark-round"></i>Atendimentos</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item2" ui-sref-active="active" ui-sref="app.receive" menu-close="">
          <i class="icon ion-clipboard"></i>Relatórios</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item3" ui-sref-active="active" ui-sref="app.payment" menu-close="">
          <i class="icon ion-cash"></i>Pagamentos</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item4" ui-sref-active="active" ui-sref="app.config" menu-close="">
          <i class="icon ion-android-settings"></i>Configurações</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item5" ui-sref-active="active" ui-sref="app.help" menu-close="">
          <i class="icon ion-help"></i>Ajuda</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>