<ion-view view-title="Odonto Manager">
  <ion-content>

    <div class="v-align">
      <div class="row row-center">
        <div class="col col-100">
          <button class="button button-block button-outline button-positive" ui-sref="app.attendanceList" menu-close="">Atendimentos</button>
        </div>
      </div>

      <div class="row row-center">
        <div class="col col-100">
          <button class="button button-block button-outline button-positive" ui-sref="app.receive" menu-close="">Pagamentos</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>