<ion-view view-title="Informar pagamento">
  <ion-content>

    <div class="bar bar-header bar-light">
      <h4 class="title"><span><strong>Pagamentos do dia: </strong></span> {{expectedPaymentDate | date: 'dd/MM/yyyy'}}</h4>
    </div>

    <br /><br />

    <div class="card">
      <ion-item>
        <ion-checkbox ng-model="checkAll" ng-click="checkAllListener(checkAll)">Marcar todos</ion-checkbox>
      </ion-item>
    </div>

    <ul class="list">
      <div class="card" ng-repeat="installment in installments">
        <div class="item item-divider">
          Paciente: {{installment.patient}} <br /> Data do atendimento: {{installment.attendanceDate | date: 'dd/MM/yyyy'}}
        </div>
        <ion-item>
          <li class="item item-toggle">
            {{"Valor a receber: R$ " + roundValue(installment.value)}} <br />
            {{"Valor de máquina: R$ " + roundValue(installment.machineValue)}} <br />
            {{"Número da parcela: " + installment.number}} <br />
            <label class="toggle toggle-positive">
              <input type="checkbox" ng-model="installment.checked">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ion-item>
      </div>
    </ul>

    <div class="item">
      <button class="button button-block button-positive" ng-click="payInstallments()" ng-disabled="isSaved">Salvar</button>
    </div>

  </ion-content>
</ion-view>